.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.editorWrapper {
    height: 100%;
    width: 100%;
}

.editorWrapper .cm-theme-light{
    height: 80%;
    width: 100%;
    outline: none;
}

.editorWrapper > div > div {
    background-color: #dfdfdf;
    height: 100%;
}

.clearButton {
    width: 90px;
    height: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
}

.runButton {
    width: 90px;
    height: 20px;
    cursor: pointer;
    background-color: #dfdfdf;
    color: #000000;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
}

.runButton:disabled {
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #93BED8;
    outline: none;
    text-transform: none;
    pointer-events: none;
}

.multipleTabs {
    display: flex;
    align-items: center;
}

.tab {
    color: #000000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 12px;
  width: 90px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  position: relative;
}
.activeTab {
    background-color: #dfdfdf;
}
.notActiveTab {
    background-color: #FFFFFF;
}
.notActiveTabColumn {
    background-color: #FFFFFF;
    border-right-style: groove;
    border-top-right-radius: 0;
}
.cross {
    position: absolute;
  width: 10px;
  height: 10px;
  opacity: 1;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.cross:hover {
    opacity: 0.7;
}
.cross::before, .cross::after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }
  .cross::before {
    transform: rotate(45deg);
  }
  .cross::after {
    transform: rotate(-45deg);
  }
.addTab {
    margin-left: 3px;
    font-size: 15px;
    padding: 3px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.addTab:hover {
    border-radius: 100%;
    background-color: #F2F2F2;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}